<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXE CLEANING</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section>
    <div class="fullscreen-background" style="background-image: url('{{ dashboards.image.url }}');">
        <div class="content">
            <h1>Professional Cleaning Services</h1>
            <p>We ensure your home or office is spotless and fresh, every time.</p>
        </div>
    </div>

    <!-- Category Card Section -->
    <div class="category-carousel">
        {% for category in categories %}
        <div class="category-card" id="category1">
            <img src="{{ category.icon.url }}" alt="{{ category.title1 }}">
            <h2>{{ category.title1 }}</h2>
        </div>
        {% endfor %}
    </div>

</section>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
