/* Fullscreen background with overlay */
.fullscreen-background {
    position: relative;
    height: 100vh;
    background-image: url('{{ dashboards.image.url }}');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fullscreen-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

/* Category carousel styling */
.category-carousel {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
    gap: 20px;
}

.category-card {
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    width: 150px;
    height: 150px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.category-card img {
    width: 60px;
    height: 60px;
}

.category-card h2 {
    font-size: 1.2rem;
}

.main-card{
    display: flex;
    justify-content: space-between;
}
.main-card div
        {
        background-color: red;
        width: 40px;
        height: 30px;
    }

/* To control hidden or shown state */
.hidden {
    display: none;
}

